body{
    background: linear-gradient(rgb(139, 227, 161),rgb(241, 82, 82)) ;
}

.bd{
    font-family: "Architects Daughter", cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bdpic{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid rgb(234, 212, 183);
}

.tx{
    text-shadow: 0px 0px 5px rgb(71, 249, 98);
    background: wheat;
}

.gift{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.gf{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-image: url("gift-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    border: 5px solid gold;
}

#g1:hover{
    background-position: center;
    background-image: url("min.gif");
}

.gift h2,h3{
    margin: 5px 0;
    line-height: 1.2;
}

#g2:hover{
    background-position: center;
    background-image: url("reac.gif");
}

#g3:hover{
    background-position: center;
    background-image: url("dumb.gif");
}

#g4:hover {
    background-position: center;
    background-image: url("cool.gif");
}

#g5{
    height: 200px;
}

#g5:hover{
    background-image: url("cheers.gif");
}